/* Sermons */

// Single Sermon Page Meta Header 
.single-ctc_sermon .uplifted-entry-title-meta {
  text-align: center;
  
  ul {
    display: inline-block;
    margin: 0 auto;
  }
}

.uplifted-list-buttons {
  margin: 0;
  list-style: none;
  
  li {
    
  }
}