@import 'variables';

/* RTL Support - Right to Left */

body {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;


  input,textarea {
    text-align: right;
  }

  blockquote {
    border-#{$default-float}: none;
    border-right: $blockquote-border;
  }

  //
  // Top Bar
  //
  .top-bar {

    .name h1 a {
      display: inline-block;
    }

    // mobile only
    @media screen and (max-width: $medium-screen) {

	    .toggle-topbar.menu-icon {
  	    left: 0;
  	    padding-left: 10px;

  	    a span {
    	    text-indent: 9999px;
  	    }
	    }

    } // close media query


    // above mobile
    @media screen and (min-width: $small-screen) {

	    .title-area {
  	    float: right;
	    }
    } // close media query

  }

  .top-bar-section {

    // Add some extra padding for list items contains buttons
    .has-form { padding: $topbar-height / 3; }

    // Styling for list items that have a dropdown within them.
    .has-dropdown {
      position: relative;

      & > a {
          &:after {
            @include css-triangle($topbar-dropdown-toggle-size, rgba($topbar-dropdown-toggle-color, $topbar-dropdown-toggle-alpha), left);
            margin-left: $topbar-height / 3;
            margin-top: -($topbar-dropdown-toggle-size / 2) - 2;
            border-color: rgba(0, 0, 0, 0) #46463A rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            -moz-border-right-colors: #46463A;
            position: absolute;
            top: 50%;
            left: 0;

            @media screen and (min-width: $small-screen) {
              -moz-border-right-colors: none !important;
              border-color: #C5C5BA rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
            }  //close media query
          }

      }

      &.moved { position: static;
        & > .dropdown {
          visibility: visible;
        }
      }
    }

    @media screen and (min-width: $small-screen) {

      .has-dropdown .dropdown li.has-dropdown > a:after {
        content: "<";
      }
    }  //close media query
  }

  .top-bar-section .has-dropdown > a {
    padding-left: $topbar-height / 3 + 20 !important;
    padding-right: $topbar-height / 3 !important;
  }

  //
  // Gallery Items
  //

  .gallery-item {
    width: 49%;
    margin: 0 1% 2%;
    float: right;

    .attachment-thumbnail {
      width: 100%;
    }

    @media screen and (max-width: ($medium-screen / 2) ) {
      &:nth-child(odd) {
        margin-right: 0;
        margin-left: 1%;
      }
      &:nth-child(even) {
        margin-left: 0;
        margin-right: 1%;
      }
    }

    @media screen and (min-width: ($medium-screen / 2) ) {
      width: 23.5%;
      margin: 0 0 2% 2%;

      &:nth-child(4n+4) {
        margin-left: 0;
      }
    }
  }

  //
  // Comments
  //

  #respond {
    .comment-form-author,
    .comment-form-email {
      float: right;
      margin-right: 0;
    }

    .comment-form-email {
      margin-right: 4%;
    }
  }

  .comment-meta {
    float: right;
  }

  .reply {
    right: auto;
  }

  //
  // Widgets
  //

  #footer .widget {
    text-align: right;
  }

  .search-form {

    .row {

      > div {
        float: right;
      }
    }
  }

  //
  // Pagination element
  //

  // next & prev buttons
	.paging {

  	.page-numbers {
    	float: right;
  	}

  	.next,
  	.prev {
  		float: right;
  	}

  	.prev {
  		border-left: 1px solid lighten($topbar-link-color, 70%);
  	}

  	.next {
  		float: left;
  		border-right: 1px solid lighten($topbar-link-color, 70%);
  	}

	}

} // end body.is-rtl

