/* Variables */
/* Global */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: #f8f9fb;
  color: #464b4e;
  padding: 0;
  margin: 0;
  font-family: "Asap", Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: "default"; }

a:hover {
  cursor: "pointer"; }

a:focus {
  outline: none; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

/* RTL Support - Right to Left */
body {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right; }
  body input, body textarea {
    text-align: right; }
  body blockquote {
    border-left: none;
    border-right: 6px solid #0fcfc5; }
  body .top-bar .name h1 a {
    display: inline-block; }
  @media screen and (max-width: 860px) {
    body .top-bar .toggle-topbar.menu-icon {
      left: 0;
      padding-left: 10px; }
      body .top-bar .toggle-topbar.menu-icon a span {
        text-indent: 9999px; } }
  @media screen and (min-width: 768px) {
    body .top-bar .title-area {
      float: right; } }
  body .top-bar-section .has-form {
    padding: 26.66667px; }
  body .top-bar-section .has-dropdown {
    position: relative; }
    body .top-bar-section .has-dropdown > a:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: transparent transparent transparent #999999;
      border-left-style: solid;
      margin-left: 26.66667px;
      margin-top: -4.5px;
      border-color: transparent #46463A transparent transparent;
      -moz-border-right-colors: #46463A;
      position: absolute;
      top: 50%;
      left: 0; }
      @media screen and (min-width: 768px) {
        body .top-bar-section .has-dropdown > a:after {
          -moz-border-right-colors: none !important;
          border-color: #C5C5BA transparent transparent transparent !important; } }
    body .top-bar-section .has-dropdown.moved {
      position: static; }
      body .top-bar-section .has-dropdown.moved > .dropdown {
        visibility: visible; }
  @media screen and (min-width: 768px) {
    body .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      content: "<"; } }
  body .top-bar-section .has-dropdown > a {
    padding-left: 46.66667px !important;
    padding-right: 26.66667px !important; }
  body .gallery-item {
    width: 49%;
    margin: 0 1% 2%;
    float: right; }
    body .gallery-item .attachment-thumbnail {
      width: 100%; }
    @media screen and (max-width: 430px) {
      body .gallery-item:nth-child(odd) {
        margin-right: 0;
        margin-left: 1%; }
      body .gallery-item:nth-child(even) {
        margin-left: 0;
        margin-right: 1%; } }
    @media screen and (min-width: 430px) {
      body .gallery-item {
        width: 23.5%;
        margin: 0 0 2% 2%; }
        body .gallery-item:nth-child(4n+4) {
          margin-left: 0; } }
  body #respond .comment-form-author,
  body #respond .comment-form-email {
    float: right;
    margin-right: 0; }
  body #respond .comment-form-email {
    margin-right: 4%; }
  body .comment-meta {
    float: right; }
  body .reply {
    right: auto; }
  body #footer .widget {
    text-align: right; }
  body .search-form .row > div {
    float: right; }
  body .paging .page-numbers {
    float: right; }
  body .paging .next,
  body .paging .prev {
    float: right; }
  body .paging .prev {
    border-left: 1px solid #fcfdfd; }
  body .paging .next {
    float: left;
    border-right: 1px solid #fcfdfd; }
