/* Footer */

#footer {
  margin: ($panel-margin-bottom * 2) auto 0;
  padding: 30px 0;
  background-color: $primary-color;
  color: white;

  h2,h4 {
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    letter-spacing: $base-letter-spacing;
    border-bottom: 3px solid white;
    display: inline-block;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
  }

  .columns {

    a {
      @include transition(.2s all linear);
      color: white;
      border-bottom-width: 0 !important;

      &:hover {
        text-decoration: none;
      }
    }
  }

  abbr{
    color: white;
  }

  .url {
    padding-left: 0;
    background: none;
  }

}