/* Pages */

//
// Search Page
//
.search-results {
	h1 {
		font-size: emCalc(30px);
		
		#search-terms {
			color: $primary-color;
		}
	}
}

//
// AudioTheme Video Page
//
.post-type-archive-audiotheme_video {
	
	@media screen and (max-width: 445px) {
	  // kill the weird margin on left side of videos on one-column mobile
	  ul.audiotheme-videos {
		  margin: 0;
	  }
	
	}
}

//
// Gallery Page
//

// must overwrite standart .panel styles of the archive page
body.term-post-format-gallery #content > .panel {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

.term-post-format-gallery {
  
  h1.archive-title { display: none; }
}

//
// Single Attachments Page
//

.single-attachment {
  
  #uplifted-content .hentry {
    background-color: white;
    margin-bottom: $panel-margin-bottom;
    padding: $panel-padding;
  }
  
  .entry-header {
    word-wrap: break-word;
    
    h1 {
      margin-top: 0;
    }
  }
  
  .entry-attachment {
    margin: 0 (-$panel-padding) 1.5em;
    position: relative;
    
    // shouldn't need this, but do. Make img element 100% width
    .attachment img {
      width: 100%;
    }
    
    .previous-image,
    .next-image {
      position: absolute;
      top: 45%;
      left: 0;
      
      a {        
        background-color: $primary-color;
        color: #fff;
        position: relative;
        width: 60px;
        height: 0;
        padding-top: 35px;
        display: inline-block;
        overflow: hidden;
        &:hover {
          background-color: $anchor-font-color-hover;
        }
        
        &:before {
          font-family: "flexslider-icon"; 
          font-size: 18px;
          content: '\f001';
          position: absolute;
          top: 30%;
          left: 39%;
        }
      }
      
    }
    .next-image {
      right: 0;
      left: auto;
      
      a:before {content: '\f002';}
    }
  }
  
  .entry-meta {
    font-size: .7em;
    font-weight: bold;
    color: lighten($topbar-link-color, 50%);
    
    a {
      color: $body-font-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
  
  .entry-description {
    line-height: $paragraph-line-height;
    
    // if there is a description, padding will be added to space
    // away from meta data, but clear global margin of p element
    p {
      margin: 1.5em 0 0 0;
    }
  }
}