
/* Post */

.hentry {
  margin-bottom: $panel-margin-bottom;
}

// Meta Entry Widget 
//
// global styles for each post type including
// meta for people, sermons, etc
//
.uplifted-entry-meta {
  list-style: none;
  position: relative;
  overflow: hidden;
  padding: ($panel-margin-bottom / 2.5) 0 $panel-margin-bottom 0;
  margin: 0;
  
  @media screen and (max-width: ($small-screen) ) {
	  font-size: .8em;
	}

  li {
    float: left;
    margin-right: 1em;
  }

  a {
    //color: lighten($secondary-color, 20%);

    &:hover {
      color: $primary-color;
    }
  }

  .genericon {
    font-size: 14px;
  }
}

.uplifted-entry-title {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
  
  @media screen and (min-width: ($small-screen - 200px) ) {
	  font-size: $h1-font-size;
	}
}

.uplifted-entry-image {
  max-width:100%;
  margin-bottom: $panel-margin-bottom;

  img {
    border: none;
    padding: 0;
    margin: 0;
    float: none;
    width: 100%;
    height: auto;
    display: block;
  }
}


// author description widget
.uplifted-author-box {
  margin: $panel-margin-bottom 0;
  overflow: auto;

  .uplifted-author-avatar {
    float: left;
    margin: 0 1em 1em 0;
    overflow: hidden;
    @include border-radius($global-rounded);
  }

  .uplifted-author-content {
    
    h1 {
      font-size: 1.2em;
    }
  }

}