/* Post */

// a post is a general module that controls the design
// and styling of many things, including blog post, people,
// locations, events, and sermons, and more

// Meta Entry Widget 
//
// global styles for each post type including
// meta for people, sermons, etc
//

// post container
#uplifted-loop-after-content .hentry,
.single #uplifted-content .hentry,
.archive .hentry {
  margin-bottom: $panel-margin-bottom;
  background-color: $panel-bg;
  border: $panel-border;
}

// the feature image of a post
.uplifted-entry-image {
  max-width: 100%;

  img {
    border: none;
    padding: 0;
    margin: 0;
    float: none;
    width: 100%;
    height: auto;
    display: block;
  }
}

// post content container
.uplifted-content-meta {
  padding: $panel-padding;
}

.uplifted-entry-meta {
  list-style: none;
  position: relative;
  overflow: hidden;
  padding: ($panel-margin-bottom / 2.5) 0 $panel-margin-bottom 0;
  margin: 0;
  
  @media screen and (max-width: ($small-screen) ) {
	  font-size: .8em;
	}

  li {
    float: left;
    margin-right: 2em;
    padding-left: 2em;
    position: relative;
  }

  a {
    color: $body-font-color;
    border-bottom: 1px solid $panel-border-color;

    &:hover {
      color: $primary-color;
    }
  }

  .genericon {
    font-size: 1.3em;
    position: absolute;
    left: 0;
  }
}

.uplifted-entry-title {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
  
  @media screen and (min-width: ($small-screen - 200px) ) {
	  font-size: $h1-font-size;
	}
}

// author description widget
.uplifted-author-box {
  margin: $panel-margin-bottom 0;
  overflow: auto;

  .uplifted-author-avatar {
    float: left;
    margin: 0 1em 1em 0;
    overflow: hidden;
    @include border-radius($global-rounded);
  }

  .uplifted-author-content {
    
    h1 {
      font-size: 1.2em;
    }
  }

}

/* Attachment Post */
.type-attachment {
  
  .uplifted-entry-attachment {
    margin: 0 (-$panel-padding);
  }
}