/* Sermons */



// temp code - we don't want a sidebar on single sermon pages
// but right now we have to hack to make that happen
.single-ctc_sermon #uplifted-content.uplifted-has-sidebar {
  width: 100% !important;
}

.single-ctc_sermon #uplifted-sidebar-right {
  display: none;
}
// temp code - we don't want a sidebar on single sermon pages
// but right now we have to hack to make that happen



/*
 * Single Sermon Page
 *
 */

// remove post content styling for Single Sermons
.single-ctc_sermon #uplifted-content .hentry {
  background-color: transparent;
  border: none;
}


.single-ctc_sermon  {
  
  // sermon title, date, and speaker
  .uplifted-entry-title-meta {
    text-align: center;
    margin: .5em 0;
    
    @media screen and (min-width: $small-screen) {
  	  font-size: 1.2em;
  	}
    
    ul {
      display: inline-block;
      font-weight: bold;
      
      li {
        border-right: 3px solid $body-font-color;
        margin-right: .8em;
        padding-right: .8em;
        
        &:last-child {
          border: none;
        }
        
        a {
          color: $body-font-color;
          
          &:hover {
            color: $secondary-color;
          }
        }
      }
    } 
  }
  
  // single sermon main content area
  .single-sermon-content {
    //@include grid-column(8);
  }
  
  // content block
  .uplifted-entry-content {
    background-color: $panel-bg;
    border: $panel-border;
    padding: $panel-padding;
    margin-bottom: $panel-margin-bottom;
  }
  
  // single sermon mock sidebar
  .uplifted-entry-footer {
    //@include grid-column(4,true,false);
  }
}


/* Sermon Media Module */

// the Media Module contains the Sermon video player
// and Sermon Audio player tied to a Featured Image.
// the two players will toggle visibility
.uplifted-list-buttons-container {
  margin: .5em 0 2em;
}

.uplifted-list-buttons {
  margin: 0;
  list-style: none;
  display: inline;
  
  &:last-child {
    float: right;
  }
  
  li {
    display: inline-block;
    margin-right: .5em;
    
    &:last-child {
      margin-right: 0;
    }
    
    // style the buttons in media section
    a {
      @include button($padding:$button-med, $bg:$body-font-color, $radius:true, $full-width:false, $disabled:false, $is-input:false, $is-prefix:false);  
    }
    
  }
}