/* Footer */

#footer {
	margin: ($panel-margin-bottom * 2) auto 0;
	padding: ($panel-padding * 1.5) 0;
	background-color: contrast-color($body-bg, darken($body-bg, 5%), lighten($body-bg, 10%), 50%); // set section bg color based off of site background color, either lighten or darken
	color: contrast-color($body-bg, $body-font-color, lighten($body-bg, 60%), 50%);

	#footer-meta{
		text-align: center; // center text on mobile

		@media screen and (min-width: 641px){
			text-align: left; // align text on desktop
		}
	}

	.columns {

		a {
			@include transition(.2s all linear);
			color: contrast-color($body-bg, lighten($body-font-color, 20%), lighten($body-bg, 50%), 50%);

			&:hover {
				opacity: .7;
			}
		}
	}

	abbr {
		color: $neutral-color;
	}

	.url {
		padding-left: 0;
		background: none;
	}

}