/* People */


//
// Individual Person Block widget
// on multi and single person page
//
.person-profile-card {
  overflow: hidden;
  
  .uplifted-entry-header {
    padding: $panel-padding;
  }
  
  // person name
  .uplifted-entry-title {
    
    a:hover {
      color: $primary-color;
    }
  }
  
  .uplifted-entry-meta {
    padding: 0;
    
    .entry-meta-item {
      float: none;
      
      &.uplifted-person-position {
        font-size: 1.3em;
        
        @media screen and (min-width: ($small-screen - 200px) ) {
      	  margin-bottom: .5em;
      	  padding-bottom: .5em;
      	  border-bottom: 1px solid $panel-border-color;
      	}
      }
    }
  }
}

