/* Widgets */

// the entire widget should be built here,
// including modifications for sidebar and footer.
// a Global Widget is included that will generally
// style most widgets, modify from there


/*  Global Widget Styles */

// this is a generic global widget with styles
// for widget and layout placement including
// sidebar and footer

.uplifted-widget {
	background-color: $neutral-color;
	margin-bottom: $panel-margin-bottom;
	padding: $panel-padding;
	border: $panel-border;

	.uplifted-widget-title {
		display: inline-block;
		color: $body-font-color;
		font-family: $body-font-family;
		font-weight: bold;
		font-size: 1.1em;
		border-bottom: 3px solid $panel-border-color;
		margin-bottom: .8em;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0;

			a {
				display: inline-block;
				padding: .3em 0;
				color: $body-font-color;
				@include transition(200ms all ease-in-out);

				&:hover{
					color: $primary-color;
					padding-left: .5em;
				}
			}

			> &:last-child a{
				border-bottom: none;
			}
		}
	}

	// footer specific uplifted-widget styles
	#footer & {
		text-align: center;
		margin-bottom: 2.5em;
		background-color: transparent;
		border-color: $transparent-neutral-color;
		border-width: 3px;
		box-shadow: $footer-box-shadow;

		@media screen and (min-width: $small-screen ) {
			text-align: left;
		}

		.uplifted-widget-title {
			color: $neutral-color;
			border-color: $transparent-neutral-color;
		}

		li {

			a {
				padding: .5em 0;
				border-bottom: 1px solid rgba($neutral-color,.4);

				&:hover {
					border-color: rgba($neutral-color,.7);
					padding-left: .8em;
				}
			}

		}
	} // end footer specific styles for uplifted-widget

} // end uplifted-widget


/* Category & Archive Widgets */

// category and archive widgets include list
// items like sermons, post, topics, books, etc

// add styles to link and item number
.widget_ctfw-archives,
.widget_ctfw-categories {

	// color item number
	li {
		color: $secondary-color;

		//
		a {
			color: $body-font-color;

			&:hover {
				color: $primary-color;
			}
		}
		#footer & {
			color: $neutral-color;

			a {
				border: none;
			}
		}

	}
}


/* Calendar Widget */

.widget_calendar {
	padding: 0;

	#uplifted-sidebar-right &,
	#uplifted-sidebar-left & {
		border: none;
	}

	#calendar_wrap {
		position: relative;

		#wp-calendar {
			width: 100%;
			text-align: center;

			caption {
				background-color: darken($primary-color,10%);
				color: #fff;
				padding: 1em;

				#footer &{
					background-color: transparent;
				}
			}

			thead th {
				padding: .5em 0;
				background-color: $primary-color;
				border: 1px solid $primary-color;
				color: contrast-color($primary-color,#222,#fff,50%);

				#footer &{
					background-color: rgba(0,0,0,.06);
					border-color: transparent;
				}
			}

			tbody tr {
				border-bottom: 1px solid $primary-color;

				#footer &{
					border-color: transparent;
				}

				td {
					padding: .5em 0;
					border: 1px solid $primary-color;
					border-bottom: none;
					color: $body-font-color;
					background-color: $panel-bg;

					#footer &{
						border-color: $transparent-neutral-color;
						background-color: transparent;
						color: white;
					}
				}

			}

			tfoot {
				position: absolute;
				top: 4px;
				width: 100%;

				td {
					padding: 1.1em;
					font-size: .9em;

					&#next {
						position: absolute;
						right: 0;
					}

					a {
						color: #fff;
					}
				}
			}
		}
	}

}

/* RSS Widget */

.widget_rss {

	// header color needs to be styled since there is
	// an anchor link inside
	h4 a {
		color: #fff;
		&:hover {
			color: $primary-color;
		}

		// tweak color if widget is in footer
		#footer & {
			color: lighten($header-font-color, 20%);
			&:hover {
				color: $primary-color;
			}
		}
	}

	ul li {
		margin-bottom: .5em !important;

		a {
			border-bottom: 1px solid lighten($secondary-color, 55%) !important;
		}
	}

	.rss-date,
	.rssSummary,
	cite {
		font-size: .8em;
	}

	.rss-date {
		font-weight: bold;
		margin: .9em 0;
		display: block;
	}

	cite {
		margin: .5em 0;
	}
}

/* Pages Widget */

.widget_pages {

	ul ul {
		padding-left: 1.5em;
	}
}

/* Search Widget */

// the Search field and button need to have specific heights to match correctly
.search-form {

	input,
	button {
		margin: 0;
	}

	// this is the search button
	button {
		height: emCalc(13) + ($form-spacing * 1.5);
		font-size: $input-font-size;
		background-color: $primary-color;
		border: none;
		box-shadow: none;

		&:hover {
			background-color: darken($primary-color,5%);
		}
	}

	#footer & {

		input {
			border: none;
		}

		button {
			background-color: darken($primary-color,10%);

			&:hover {
				background-color: darken($primary-color,20%)
			}
		}
	}
}

// search widget container
.widget_search {
	background-color: transparent;
	margin: 0;
	border: none;
	padding: 0;

	.search-form {
		//margin-bottom: 0;
	}
}

/* Recent Comments */

.widget_recent_comments {

	ul li {
		margin-bottom: 1em;
		//border-bottom: 1px solid contrast-color($neutral-color, darken($neutral-color,5%), lighten($neutral-color,5%), 50%);

		&:last-child {
			margin: 0;
		}
	}
}

/* Custom Text Widget */
.widget_text {
	// add line-height just in case the user does not add
	// a paragraph tag to text
	line-height: $paragraph-line-height;
}

/* ChurchTheme Location Widget */
.widget_ctfw-locations {

	.ctc_location {
		border: none;
		background-color: transparent;
	}

	.ctfw-google-map {
		min-height: 12em;
	}
}

/* Sidebar + Home Bottom */


/*************** SHARED STYLES ****************/

/* Widget Entry */

.uplifted-widget-entry {
	margin-bottom: $panel-margin-bottom;
}

// Thumbnail Container
.uplifted-widget-entry-thumb {
	width: 4em;
	float: left;
	margin: 0 .8em .8em 0;
}

// Entry Title
.uplifted-widget-entry-title {
	margin: 0;
	font-size: 1em;
}

// Meta Item
.uplifted-widget-entry-meta > li {
	display: inline-block;
	margin: 12px 15px 0 0;
	vertical-align: top;
}

	/* Keep links from wrapping */
	.uplifted-widget-entry-meta > li a {
		white-space: nowrap;
	}

	/* Date */
	.uplifted-widget-entry-date {
		font-weight: bold;
	}

	/* Byline */
	.uplifted-widget-entry-byline {
		/*font-style: italic;*/
	}

	/* Icons */
	.uplifted-widget-entry-icons .uplifted-list-icons { /* <ul> */
		position: relative;
		top: -2px;
		white-space: nowrap;
	}

	/* Content / Excerpt */

	.uplifted-widget-entry-content {
		margin-top: 15px;
	}

		.uplifted-widget-entry-content p {
			margin: 12px 0 0 0;
		}

		.uplifted-widget-entry-content p:first-child {
			margin: 0;
		}

/* Dropdown Widgets */

.widget_ctfw-archives select,
.widget_ctfw-categories select {
	width: 100%;
}

/* List Widgets */

.widget_categories ul, /* default WP categories - blog only */
.widget_ctfw-categories ul, /* enhanced categories - taxonomy selector */
.widget_ctfw-archives ul, /* monthly sermon archives */
.widget_ctfw-galleries ul, /* gallery page list */
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_archive ul,
.widget_meta ul,
.widget_pages ul,
.widget_links ul,
.widget_nav_menu ul {
	margin: 0;
	list-style: none;
	line-height: 1.4em;
}

.widget_categories ul ul,
.widget_ctfw-categories ul ul,
.widget_ctfw-archives ul ul,
.widget_ctfw-galleries ul ul,
.widget_recent_entries ul ul,
.widget_recent_comments ul ul,
.widget_archive ul ul,
.widget_meta ul ul,
.widget_pages ul ul,
.widget_links ul ul,
.widget_nav_menu ul ul {
	margin-left: 15px;
	list-style: none;
	line-height: 1.4em;
}

	.widget_categories li,
	.widget_ctfw-categories li,
	.widget_ctfw-archives li,
	.widget_ctfw-galleries li,
	.widget_archive li,
	.widget_meta li,
	.widget_pages li,
	.widget_links li,
	.widget_nav_menu li {
		padding-top: 0;
		margin-bottom: 10px;
	}

	.widget_recent_entries li,
	.widget_recent_comments li {
		padding-top: 0;
		margin-bottom: 18px;
	}

		.widget_categories li:first-child,
		.widget_ctfw-categories li:first-child,
		.widget_ctfw-archives li:first-child,
		.widget_ctfw-galleries li:first-child,
		.widget_recent_entries li:first-child,
		.widget_recent_comments li:first-child,
		.widget_archive li:first-child,
		.widget_meta li:first-child,
		.widget_pages li:first-child,
		.widget_links li:first-child,
		.widget_nav_menu li:first-child {
			border-top: 0;
			padding-top: 0;
		}

		.widget_categories li li,
		.widget_ctfw-categories li li,
		.widget_ctfw-archives li li,
		.widget_ctfw-galleries li li,
		.widget_recent_entries li li,
		.widget_recent_comments li li,
		.widget_archive li li,
		.widget_meta li li,
		.widget_pages li li,
		.widget_links li li,
		.widget_nav_menu li li {
			margin: 0;
			border-top: 0;
			padding-top: 0;
		}

			.widget_categories li li a,
			.widget_ctfw-categories li li a,
			.widget_ctfw-archives li li a,
			.widget_ctfw-galleries li li a,
			.widget_ctfw-posts li li a,
			.widget_recent_entries li li a,
			.widget_recent_comments li li a,
			.widget_archive li li a,
			.widget_meta li li a,
			.widget_pages li li a,
			.widget_links li li a,
			.widget_nav_menu li li a {
				font-weight: normal;
				text-transform: none;
			}

/* Tag Cloud Widget */
.widget_tag_cloud {

	#footer & {

	}
}

/* Text Widget */
.textwidget > :first-child {
	margin-top: 0;
}

.textwidget > :last-child {
	margin-bottom: 0 !important;
}

/* RSS Widget */

// hide RSS icon
.widget_rss h1 img {
	display: none;
}

.widget_rss ul {
	margin: 0;
	list-style: none;
}

	.widget_rss li {
		margin: 32px 0;
	}

	.widget_rss li:first-child {
		margin-top: 0;
	}

		.widget_rss li a {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1em;
			font-weight: bold;
			line-height: 1.4em;
			text-transform: uppercase;
		}

		.widget_rss .rss-date {
			margin-top: 12px;
			display: block;
			font-weight: bold;
		}

		.widget_rss .rssSummary {
			margin-top: 12px;
		}
		.widget_rss cite {
			display: block;
			margin-top: 12px;
			font-style: italic;

			#footer & {
				color: rgba(255,255,255,.8);
			}
		}

/* Highlight Widget */
.widget_ctfw-highlight {
	padding: 0;
}

	.widget_ctfw-highlight .uplifted-widget-title {
		margin: 0;
		padding: 0;
		font-size: 1em;
	}

	.widget_ctfw-highlight.uplifted-widget-has-title > * {
		top: 0;
	}

	.widget_ctfw-highlight.uplifted-widget-has-title {
		margin-top: 30px;
	}

	.widget_ctfw-highlight > :not(.uplifted-widget-title):first-of-type,
	.widget_ctfw-highlight .uplifted-widget-first-element { // uplifted-widget-first-element applied for IE8 w/JavaScript
		padding-top: 0 !important;
	}

/* Gallery Widget */
.widget_ctfw-gallery {
	@include clearfix;

	br{
		display:none;
	}
}


/* Sermons Widget */
.uplifted-sermons-widget-entry.uplifted-widget-entry-first {
	margin-top: 0;
}

/* Series */

.uplifted-widget-entry-meta > li.uplifted-sermons-widget-entry-series a {
	white-space: normal; /* sermon series titles may be longer than sidebar */
}

/* Events Widget */

// time
.uplifted-events-widget-entry-time {
	font-style: italic;
}

/* People Widget */

// position
.uplifted-people-widget-entry-position {
	font-weight: bold;
}

.uplifted-people-widget-entry-phone {
	font-style: italic;
}

/* Giving Widget */
.uplifted-giving-widget-button {
	margin-top: $panel-margin-bottom;
	text-align: center;

	a {
		@include button;

		&:hover {
			background-color: $secondary-color;
		}
	}
}